{% extends "purge/header.html" %}
{% load static %}

{% block content %}


 <h2>Purge proyects</h2> 
<div class="panel panel-primary">
    <div class="collapse navbar-collapse panel-heading" id="bs-example-navbar-collapse-1">
     
      
    </div>
    <div class="row">
    <div class="col-xs-12">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Rererer list</a></li>
          
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Referer</th>
                    <th>Server</th>
                    <th>Protocol</th>
                    <th>Purge Method</th>
                    <th>Description</th>
                    <th>Exclude URL</th>
                    <th>URL Count</th>
                    <th>Next Purge</th>
                    <th>Future Purge</th>
                    <th>Total Asked</th>
                    <th>Total Purged</th>
                    <th>Reduction %</th>
                  </tr>
                </thead>
                <tbody>
                {% for group in object_list %}
  	                <tr>
  	                  <td>{{ group.id }}</td>
                      <td><a href="{% url 'show_purge_uniqueview' group.id %}">{{ group.referer }}</a></td>
                      <td>{{ group.server }}</td>
                      <td>{{ group.protocolo }}</td>
                      <td>{{ group.purge_method }}</td>
                      <td>{{ group.description }}</td>
                      <td>{{ group.exclude_url }}</td>
                      <td>{{ group.urlcount }}</td>
                      <td>{{ group.next_ask }}</td>
                      <td>{{ group.future_ask }}</td>
                      <td>{{ group.total_asked.total_asked }}</td>
                      <td>{{ group.total_purged.total_purged }}</td>
                      <td>{{ group.reduction_percent|floatformat:2 }} %</td>
  	                </tr>
      		      {% endfor %}
      		      </tbody>
                <tfooter>
                  <tr>
                      <th colspan="8">Total</th>
                      <th colspan="5">{{ object_list|length }} &nbsp;Referers</th>
                  </tr>
                </tfooter>
      		    </table>
      	    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}